    <!-- About Section -->
<section class="list">
        <h3>Hello, it's lovely to meet you!
                  I am a young designer who has a passion for handcrafted
                  branding, design and illustration 
<img src="images/getintouch2.svg" img class="getintouch">
        </h3>
</section>
              
        
       <section class="list">
        <h2>Things about me</h2>
        <ul style="list-style-type:circle">
                  <li>Dance Ethusiast</li>
                  <li>Keen Instagrammer</li>
                  <li>Saved by Grace</li>
                  <li>Globe trotter</li>
                </ul>
        </section>
              
        
        <section class="list">
        <h2>Things I love</h2>
        <ul style="list-style-type:circle">
                  <li>TEA + biscuits</li>
                  <li>The North Coast</li>
                  <li>Discovering new places</li>
                  <li>Rose Gold</li>
                  <li>A sunday roast</li>
                </ul>
        </section>
              <br>
              <br>