    <!-- Contact Section -->
    <section>
    <h4 class="contacttext"> I'm passionate and ethusiastic to learn more and more. I also love working with others. Travel and the world around us inspires me so I make it my mission to get away a lot. Take a look at my <a href="portfolio.html">portfolio</a> of work or some of my <a href="side-projects.html">side projects</a>. I would love to <a href="mailto:Graham-A31@email.ulster.ac.uk">chat</a> so drop me a line if you fancy working together. </h4>
            </section>