    <!-- Footer -->
<footer>
<div id="darkgrey">
    <div class="social"> 
    <a href="https://dribbble.com/amy-graham" title="Follow me"> <img src="images/dribbble.svg" img class="dribble fade in x infinite"></a> 
    <a href="https://www.instagram.com/aandkdesignsni/" title="Follow me"> 
    <img src="images/instagram.svg" img class="insta"></a> 
    <a href="https://twitter.com/amy17graham" title="Follow me"> <img src="images/twitter.svg" img class="twitter"></a> 
    <a href="mailto:Graham-A31@email.ulster.ac.uk" title="Drop me a line"> <img src="images/mail.svg" img class="mail"></a> 
    <a href="#top" class="smoothScroll">
    <h2 class="backtotop">Back to top</h2>
      </a> </div>
    
  <section class="socialicons">Join my journey on social media</section> </div>
</footer>

