<nav class="cl-effect-14"> 
    <a href="about.html" title="Find out more about me" class="Effect-14">A b o u t</a> 
    <a href="portfolio.html" title="View my Portfolio!" class="Effect-14">P o r t f o l i o</a> 
    <a href="sideprojects.html" class="Effect-14">S i d e  P r o j e c t s </a> 
    <a href="contact.html" class="Effect-14">C o n t a c t</a> 
    <a href="/CV.pdf" download="CV.pdf" class="Effect-14">C V</a> 
    </nav>
    <img src="images/FLORAL.png" img class="background"> <br>
    <br>
    
                  
<img src="images/Amarque3.svg" img class="marque animated fadeIn">
            
    
<div class="hr animated fadeIn">
    <hr  />
</div>
                  
    
<div class="nametop animated fadeIn">
<h1>AMY ELIZABETH GRAHAM</h1>
</div>
                  
            
<a href="#middle" class="smoothScroll">
<img src="images/arrow.svg" img class="arrow"></a>