    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>My Portfolio </h2>
                </div>
        </div>
</section>

<div class="container cards">
	
	<div class="flex flex-j-start flex-wrap">
		
			<div class="card">
				<a href="#">
					<div class="imgContainer" style="background-image:url(https://unsplash.it/250/200/?image=1078)" /></div>
				</a>
				<div class="content">
					<p><strong>Branding</strong></p>
					<p>A brand for this postbox.</p>
					<a class="btn btn-default" href="#">Read more</a>
				</div>
			</div>
			<div class="card">
				<a href="#">
					<div class="imgContainer" style="background-image:url(https://unsplash.it/250/200/?image=1061)" /></div>
				</a>
				<div class="content">
					<p><strong>Website</strong></p>
					<p>Wee website mate. Pure class!</p>
					<a class="btn btn-default" href="#">Read more</a>
				</div>
			</div>
			<div class="card">
				<a href="#">
					<div class="imgContainer" style="background-image:url(https://unsplash.it/250/200/?image=1056)" /></div>
				</a>
				<div class="content">
					<p><strong>App</strong></p>
					<p>Theres an app for that.</p>
					<a class="btn btn-default" href="#">Read more</a>
				</div>
			</div>
			<div class="card">
				<a href="#">
					<div class="imgContainer" style="background-image:url(https://unsplash.it/250/200/?image=1048)" /></div>
				</a>
				<div class="content">
					<p><strong>Typography</strong></p>
					<p>The web is 95% typography didnt you know?</p>
					<a class="btn btn-default" href="#">Read more</a>
				</div>
			</div>
			
			</div>
	
	</div>
</div>
